@page
@model ToDo_List.Pages.ShoppingPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shopping</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shopping.GroceriesId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shopping.GroceriesId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shopping.OtherProductsId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shopping.OtherProductsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Shopping?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
