@page
@model ToDo_List.Pages.ShoppingPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shopping[0].ShoppingListName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shopping[0].IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shopping[0].ProductsId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Shopping) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingListName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductsId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
