@page
@model ToDo_List.Pages.ToDoPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].ShoppingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].ChoresId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDo[0].WorkId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChoresId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
