@page
@model ToDo_List.Pages.ChoresPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chores[0].Cleaning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chores[0].Loundry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chores[0].Cooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chores[0].DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Chores) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cleaning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loundry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cooking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
