@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="index-page">
	<div class="categories">
		@foreach (var item in Model.Categories)
		{
			<a href="/?id=@Html.DisplayFor(modelItem => item.Id)" class="category">
				<h5 class="category__title">
					@Html.DisplayFor(modelItem => item.Name)
				</h5>
				<p class="category__description">
					@Html.DisplayFor(modelItem => item.Description)
				</p>
				<div class="dropdown">
					<a href="#" class="dropdown-button">...</a>
					<ul class="dropdown-content">
					<li><a asp-page="CategoryPage/Edit" asp-route-id="@item.Id">Edytuj</a></li>
					<li><a asp-page="CategoryPage/Delete" asp-route-id="@item.Id">Usuń</a></li>
					</ul>
				</div>
			</a>
		}
		<br>
		<a href="/CategoryPage/Create" class="round-button">+</a>
	</div>
	<div class="todos">
		<h2 class="todos__category"> @Model.Category.Name </h2>
			@foreach (var item in Model.Todos)
			{
				<div class="todo">
					@if (item.IsCompleted) {
						<input type="checkbox" data-todo-id="@item.Id" onclick="updateTodo(this)" class="checkbox-round" checked/>
					} else {
						<input type="checkbox" data-todo-id="@item.Id" onclick="updateTodo(this)" class="checkbox-round"/>
					}
					<div class="todo__container">
						<h6 class="todo__text">@Html.DisplayFor(modelItem => item.Name)</h6>
						<div class="todo__info">
							<p class="todo__importane"> importance: @Html.DisplayFor(modelItem => item.Priority) </p>
						</div>
						<div class="dropdown">
						  <a href="#" class="dropdown-button">...</a>
						  <ul class="dropdown-content">
							<li><a asp-page="ToDoPage/Edit" asp-route-id="@item.Id">Edytuj</a></li>
							<li><a asp-page="ToDoPage/Delete" asp-route-id="@item.Id">Usuń</a></li>
						  </ul>
						</div>
					</div>
				</div>
			}
			<br>
		<a href="/ToDoPage/Create" class="round-button">+</a>
	</div>
</div>
