@page
@model ToDo_List.Pages.ShoppingPages.OtherProductsPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OtherProducts[0].OtherProductsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherProducts[0].OtherProductsAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherProducts[0].OtherProductsPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OtherProducts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OtherProductsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherProductsAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherProductsPrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
